/* blauw */
body ul {
    list-style: none;
    padding: 0;
}

section section:nth-of-type(1) nav ul {
    display: flex;
    position: absolute;
    top: 45.2em;
    left: 13em;
    gap: 2em;
}


section section:nth-of-type(1) nav ul a {
    font-family: "rhode";
    color: var(--color-tekst);
    letter-spacing: 1px;
    font-size: 1.6em;
    text-transform: uppercase;
    text-decoration: none;
}

section section:nth-of-type(1) nav ul a:hover {
    text-decoration: underline;
    text-decoration-thickness: .2em;
}

section section:nth-of-type(1) div {
    background-color: var(--color-films);
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 2.5em;
}

.previous, .next {
    position: absolute;
    top: calc(50% - -3em);
    width: 30px;
    height: 30px;
    border-color: var(--color-background-nav);
    border-style: solid;
    border-width: 7px 0 0 7px;
    cursor: pointer;
}

.previous {
    left: 2em;
    transform: rotate(-45deg);
}
.next {
    right: 2em;
    transform: rotate(135deg);
}

section section:nth-of-type(1) div > article:nth-of-type(1) ul:nth-of-type(1){
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    scroll-behavior: smooth;

}

section section:nth-of-type(1) div > article:nth-of-type(1) ul li img {
    width: 67.5em;
    height: 25em;
}

section section:nth-of-type(1) div > article:nth-of-type(1) ul {
    height: fit-content;
    overflow-x: hidden;
}

section section:nth-of-type(1) div > article:nth-of-type(1) ul h2 {
    font-size: 3em;
    margin: 0;
}
section section:nth-of-type(1) div > article:nth-of-type(1) ul p {
    font-family: "rhode";
    font-size: 2em;
    margin: 0;
    text-transform: uppercase;
}
section section:nth-of-type(1) div > article:nth-of-type(1) ul a {
    font-family: "rhode";
    text-transform: uppercase;
    font-size: 1.5em;
    position: relative;
    left: 40em;
    bottom: 1.2em;
    text-decoration: none;
}

/* section section:nth-of-type(1) article:nth-of-type(1) ul:nth-of-type(2) {
    flex-direction: column;
    list-style: none;
} */

section section:nth-of-type(1) article:nth-of-type(2) h2:not(.film-info h2) {
    font-size: 3em;
}

#actueel article:nth-of-type(1) {
    margin-bottom: 5em;
}

#actueel article:nth-of-type(1) ul {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    scroll-behavior: smooth;
}

#actueel article:nth-of-type(1) li {
    width: 16em;
}

#actueel article:nth-of-type(1) img {
    width: 14em;
    height: 20em;
}

#actueel article:nth-of-type(1) a {
    text-decoration: none;
}

.previous-film, .next-film {
    position: absolute;
    top: calc(50% - -33em);
    width: 30px;
    height: 30px;
    border-color: var(--color-background-nav);
    border-style: solid;
    border-width: 7px 0 0 7px;
    cursor: pointer;
}

.previous-film {
    left: 2em;
    transform: rotate(-45deg);
}
.next-film {
    right: 2em;
    transform: rotate(135deg);
}


section section:nth-of-type(1) article:nth-of-type(2) article article ul div {
    padding: 0;
}




/* section section:nth-of-type(1) article:nth-of-type(2) article article ul div:nth-of-type(2) {
    position: ab;
    bottom: 28em;
    right: -30em;
} */

section section:nth-of-type(1) article article article ul p {
    font-size: 0.8em;
}

section section:nth-of-type(1) article article article ul img {
    width: 5em;
}

figure img {
    width: 10em;
}
figcaption {
    margin-top: .5em;
    font-family: "rhode";
    font-size: 1em;
    text-transform: uppercase;

}
section section:nth-of-type(1) article:nth-of-type(2) article article ul div:nth-of-type(1) img {
    width: 42em;
    height: 25em;
}


.film-info li {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 0.6em;
    align-items: start;
}

.film-info li > div:nth-child(1) {
    grid-column: 1;
    grid-row: span 4;
}

.film-info li > div:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}

.film-info li > div:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    gap: 0.3em;
}

.film-info li > div:nth-child(3) img {
    width: 1.5em;
    height: auto;
}

.film-info li > div:nth-child(4) {
    grid-column: 2;
    grid-row: 3;
}
.film-info li > div:nth-child(5) {
    grid-column: 2;
    grid-row: 4;
}
.film-info li {
    padding: 1em;
    padding-bottom: 3em;
}

.film-info li img {
    width: 100%;
    height: auto;
}
.film-info li a {
    padding: .7em .5em .7em .5em;
    color: var(--color-nav-tekst);
    text-align: center;
    background-color: var(--color-tekst);
    text-decoration: none;
    font-family: "rhode";
    font-size: 2em;
    text-transform: uppercase;
}

.film-info li h2 {
    font-size: 3em;
    margin: 0;
}

.film-info li p {
    margin: 0;
}
/* ..................................................... */
/* @media (min-width: 90em) {
    section section:nth-of-type(1) {
        width: calc(100% - 2.5em * 5);
        width: 77.5em;
        left: calc(50% - 90em / 2 + 2.5em);
    }

    section section:nth-of-type(2) {
        left: calc(50% - 90em / 2 + 2.5em * 12);
    }

    section section:nth-of-type(3) {
        left: calc(50% - 90em / 2 + 31.25em);
    }

    section section:nth-of-type(4) {
        left: calc(50% - 90em / 2 + 2.5em * 15.25);
    }
}


@media (max-width: 80em) {
    section section:nth-of-type(1) {
        padding-top: 10em;
    }

    section section:nth-of-type(2) {
        padding-top: 6.25em;
    }

    section section:nth-of-type(3) {
        padding-top: 15.625em;
    }

    section section:nth-of-type(4) {

        padding-top: 9em;
    }
} */

/* @media (max-width: 47.9em) {
    section section:nth-of-type(1) {
        left: 0;
        display: block;
        width: calc(100% - 2.5em / 2);
        margin-top: 3.75em;
    }

    section section:nth-of-type(2) {
        left: 0;
        display: block;
        width: calc(100% - 2.5em / 2);
        margin-top: 3.75em;
    }

    section section:nth-of-type(3) {
        left: 0;
        display: block;
        width: calc(100% - 2.5em / 2);
        margin-top: 3.75em;
    }

    section section:nth-of-type(4) {
        left: 0;
        display: block;
        width: calc(100% - 2.5em / 2);
        margin-top: 3.75em;
    }
} */