:root {
    --color-background: #ffffff;
    --color-background-nav: #000000;
    --color-films: #00bee6;
    --color-eten: #a0dc00;
    --color-nieuws: #ff0;
    --color-info: #ffa000;
    --color-tekst: #000000;
    --color-nav-tekst: #ffffff;
    --color-fc-streep: #DB0202;
    --color-hover: #ffffff; 
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --color-background: #000000;
        --color-background-nav: #ffffff;
        --color-films: #0f88a0;
        --color-eten: #6f9112;
        --color-nieuws: rgb(135, 135, 11);
        --color-info: #b47303;
        --color-tekst: #ffffff;
        --color-nav-tekst: #000000;
        --color-fc-streep: #DB0202;
        --color-hover: #000000; 
    
    }  
} */

@font-face {
    font-family: 'rhode';
    src: url('../fonts/rhode.ttf') format('truetype'),
}

@font-face {
    font-family: 'aaux';
    src: url('../fonts/aaux.ttf');
}

body {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: Arial, sans-serif;
    background-color: var(--color-background);
    overflow-x: visible;
    color: var(--color-tekst);
    letter-spacing: .02em;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header a {
    text-decoration: none;
    color: var(--color-tekst);
    font-family: "rhode";
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 3.2em;
    text-transform: uppercase;
}

/* 
nav {
  position:fixed;
  inset: 0;
  translate:438% -70%;
  z-index: 9999;
  background-color: black;
  width: 20em;
  height: 20em;
} */
/* nav {
    display: grid;
    justify-items: start;

    justify-content: start;
    align-content: center;
    background-color: black;
    width: 15em;
    height: 20em;
} */

nav:not(section nav) {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-evenly;
}

nav a {
    color: var(--color-nav-tekst);
}

nav button {
    padding: 1em;
    order: 1;
    border: none;
    appearance:none;
    aspect-ratio: 1/1;
    background-color: none;
    z-index: 99999;
    background-color: var(--color-background-nav);
}

nav ul:not(section nav ul) {
    margin-bottom: 1.5em;
    padding: 0;
    list-style:none;

    position:fixed;
    inset: 0;

    translate:-100%;
    background-color: var(--color-background-nav);

}

nav button span {
	display:block;
	width: 2.5em;
	height: .35em;
	background-color: var(--color-background);
	grid-row-start: 1;
	grid-column-start: 1;
}

nav button span:nth-child(1) {
	translate: 0-.5em;
}
  
nav button span:nth-child(2) {
	translate: none;
}
  
nav button span:nth-child(3) {
	translate: 0 .5em;
}

nav.toonMenu ul {
    translate:50%;
}

nav.toonMenu span:nth-child(1) {
	translate:0 0em;
	rotate: 45deg;
}
  
nav.toonMenu span:nth-child(2) {
	scale: 0 1;
}

nav.toonMenu span:nth-child(3) {
	translate:0 -.5em;
	rotate: -45deg;
}

section {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--color-background);
    transform-origin: center center;
    cursor: pointer;
    transition: all 0.5s ease;
    overflow: visible;
}

section section:nth-of-type(1) {
    background-color: var(--color-films);
    z-index: 4;
    translate: 2.1em -1em;
    height: 400vh;
    /* width: 77.5em; */
    width: calc(100% - 40px* 5);
    margin-right: 2em;
    cursor: default;
}

section section:nth-of-type(2) {
    background-color: var(--color-eten);
    z-index: 2;
    translate: 29.5em -4.7em;
    height: 160vh;
    width: 52.7em;
    overflow: hidden;
    cursor: default;
}

section section:nth-of-type(3) {
    background-color: var(--color-nieuws);
    z-index: 3;
    translate: 30.5em 4.5em;
    height: 560vh;
    width: 53em;
    cursor: default;
}

section section:nth-of-type(4) {
    background-color: var(--color-info);
    z-index:1;
    translate: 38em -2.3em;
    height: 330vh;
    width: 47em;
    cursor: default;

}

/* Bron: ChatGPT  */
.expanded {
    position: absolute;
    /* height: 100%; */
    z-index: 10;
    border-radius: 0;
    overflow-y: auto;
}


h1 {
    font-family: "rhode";
    font-size: 4.3em;
    letter-spacing: 1px;
    font-weight: lighter;
    margin: 0;
    margin-left: 0.7em;
    margin-top: 0.5em;
    text-decoration: line-through;
    text-decoration-color: var(--color-fc-streep);
    text-decoration-thickness: 0.3em;
    text-transform: uppercase;
}

h2 {
    font-family: "rhode";
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 2.188em;
    text-transform: uppercase;
}

h3 {
    color: var(--color-tekst);
}

p {
    font-size: 1.375em;
    font-family: 'aaux';
    font-weight: lighter;
    width: 90%;
}

main button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: "rhode";
    font-size: 1.125em;
    text-transform: uppercase;
    border-bottom: solid var(--color-tekst) 0.3em;
}

main button:hover {
    color: var(--color-hover);
    border-bottom: solid var(--color-hover) 0.3em;
}

li {
    text-decoration: none;
}

article button {
    color: var(--color-tekst);
}
main > section > section:nth-of-type(3) > h2:nth-of-type(1) {
    color:red;
    writing-mode: vertical-lr;
    align-items: end;
    margin-left: 22em;
}

main > section > section:nth-of-type(4) > h2:nth-of-type(1) {
    color:red;
    writing-mode: vertical-lr;
}

img {
    display: block;
    width: 90%;
}

section section:nth-of-type(4) ul{
    background-color: var(--color-info);
}



@media screen and (min-width: 1281px) and (max-width: 1469px) {

    section section:nth-of-type(1) {
        width: 67em;
    }

    section section:nth-of-type(2) {
        translate: 19em -4.7em;
    }

    section section:nth-of-type(3) {
        translate: 20em 4.5em;
    }

    section section:nth-of-type(4) {
        translate: 28em -2.3em;
    }
}

@media screen and (min-width: 1040px) and (max-width: 1280px) {

    section section:nth-of-type(1) {
        translate: 1.1em 1.3em;
        width: 53.7em;
    }

    section section:nth-of-type(2) {
        translate: 4.5em -2.1em;
    }

    section section:nth-of-type(3) {
        translate: 5.5em 6.9em;
    }

    section section:nth-of-type(4) {
        translate: 13.5em 0.5em;
    }
}

@media screen and (min-width: 767px) and (max-width: 1040px) {

    section section:nth-of-type(1) {
        translate: 1em 1.5em;
        height: 150vh;
        width: 36em;
    }
    
    section section:nth-of-type(2) {
        translate: 3.6em -1.7em;
        height: 190vh;
        width: 36em;
    }
    
    section section:nth-of-type(3) {
        translate: 5em 7em;
        height: 570vh;
        width: 36em;
    }
    
    section section:nth-of-type(4) {
        translate: 2em 0.4em;
        height: 700vh;
        width: 41em;
    }
}

@media screen and (min-width: 500px) and (max-width: 767px) {

    header {
        margin: 0;
        height: 4em;
        align-items: center;
    }

    h1 {
        font-size: 2.8em;
        margin: 0;
    }

    section section:nth-of-type(1) {
        translate: -1.25em -1.3em;
        height: 150vh;
        width: 36em;
    }
    
    section section:nth-of-type(2) {
        translate: 9em -1.3em;
        height: 190vh;
        width: 36em;
    }
    
    section section:nth-of-type(3) {
        translate: 5em -1.3em;
        height: 470vh;
        width: 36em;
    }
    
    section section:nth-of-type(4) {
        translate: 2em -1.3em;
        height: 180vh;
        width: 41em;
    }

    p {
        font-size: 1.125em;
    }
}

